<ion-pane>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a button class="button" href="#/templates/home">Back</button></a>
        </div>
        <h1 class="title">Setup</h1>
    </ion-header-bar>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
    <i class="placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
        </div>
        <div class="list">

            <div class="item item-divider">
                <b> ACCOUNT </b>
            </div>

            <a class="item">
    CRM
  </a>
            <a class="item">
    Google
  </a>
            <a class="item">
    SharePoint
  </a>
            <a class="item">
    Exchange
  </a>
            <a class="item">
    Dropbox
  </a>
            <a class="item">
    OneDrive
  </a>




            <div class="item item-divider">
                <b> Network</b>
            </div>

            <a class="item">
    Online Model
  </a>
            <a class="item">
    Auto Sync
  </a>
            <a class="item">
    Sync Login
  </a>
            <a class="item">
    Save Password
  </a>





            <div class="item item-divider">
                <b> APPERANCE</b>
            </div>

            <a class="item">
    Language
  </a>
            <a class="item">
    New Form UI
  </a>
            <a class="item">
    Private View
  </a>
            <a class="item">
    Max Image Size
  </a>
            <a class="item">
    Map
  </a>
            <a class="item">
    Dashboard
  </a>
            <a class="item">
    Display density
  </a>
<div class="item item-divider">
                <b> PIM</b>
            </div>

            <a class="item">
    Call Via
  </a>
            <a class="item">
    Personal Contacts
  </a>
            <a class="item">
    Personal Calendar
  </a>
            <a class="item">
    Design Dashboard
  </a>
            <a class="item">
    Send Invites
  </a>
            <a class="item">
    Use Reminders
  </a>
            <a class="item">
    Send Email Via
  </a>
   <a class="item">
   HTML Emails
  </a>
   <a class="item">
    Signature
  </a>
   <a class="item">
    Exchange Folder
  </a>
   <a class="item">
    Show Images
  </a>
  <a class="item">
    Mark Email Read
  </a>
  <a class="item">
    Call Import
  </a>

  <div class="item item-divider">
                <b> ADVANCED</b>
            </div>

            <a class="item">
    Home Realm
  </a>
            <a class="item">
    ADFS Username
  </a>
            <a class="item">
    web Service 
  </a>
            <a class="item">
    Delete Data
  </a>
            <a class="item">
    Max Attachment
  </a>
            <a class="item">
    Max Sync Records
  </a>
            <a class="item">
    Entity
  </a>
   <a class="item ">
   Client Certificate
  </a>
  
        </div>
    </ion-content>
</ion-pane>