/* Empty. Add your own CSS if you like */
.icon-font-color {
    color:blue;
}
.slide-right10{
    margin-right: 10px;
}
.slide-right20{
    margin-right: 20px;
}
.slide-right30{
    margin-right: 30px;
}
.slide-right40{
    margin-right: 40px;
}

.font-color-Account-Name {
    color:red;
}