<!--<ion-pane>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a button class="button" href="#/templates/auth/register-contactInfo">Back</button></a>
        </div>
        <h1 class="title">Login Infomation</h1>
        <div class="buttons">
            <a button class="button" ng-click="signUp()">Next</button></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-input" style="color: red;">
<b>Organization</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.department">
</a>
<a class="item item-input" style="color: red;">
<b>URL</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.department">
</a>
<a class="item item-input" style="color: red;">
<b>Password</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.password">
</a>
<a class="item item-input" style="color: red;">
<b>Confirm Password</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.password">
</a>



</div>
</ion-content>
</ion-pane>-->