<ion-pane>

    <ion-content>
        <br>
        <br>
        <div class="list" ng-hide="checked">
            <a class="item item-input" style="color: red;">
<b>Full Name</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.firstName">
</a>
<a class="item item-input" style="color: red;">
<b>E-mail</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.email">
</a>
<a class="item item-input" style="color: red;">
<b>Phone</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.Phone">
</a>
<a class="item item-input" style="color: red;">
<b>Company Name</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.provider">
</a>
<a class="item item-input" style="color: red;">
<b>Country/Region</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.branch">
</a>
</div>



<ion-header-bar align-title="left" class="bar-positive" ng-hide="checked">
    <div class="buttons">
        <a button class="button" href="#/templates/home">Back</button></a>
    </div>
    <h1 class="title">Contact Infomation</h1>
</ion-header-bar>

<ion-header-bar align-title="left" class="bar-positive" ng-show="checked">
    <div class="buttons">
        <a button class="button" href="#/templates/home">Back</button></a>
    </div>
    <h1 class="title">Login Infomation</h1>
    <div class="buttons">
        <a button class="button" ng-click="signUp()">SignUp</button></a>
    </div>
</ion-header-bar>
<!--div2-->

<div class="list" ng-show="checked">
    <a class="item item-input" style="color: red;">
<b>Organization</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.department">
</a>
<a class="item item-input" style="color: red;">
<b>URL</b>&nbsp&nbsp&nbsp<input type="text" ng-model="user.department">
</a>
<a class="item item-input" style="color: red;">
<b>Password</b>&nbsp&nbsp&nbsp<input type="password" id="password" ng-model="user.password">
</a>
<a class="item item-input" style="color: red;">
<b>Confirm Password</b>&nbsp&nbsp&nbsp<input type="password" id="confirm_password" ng-model="user.password">
</a>
</div>
<div class="row">
    <div class="col-33">

    </div>
    <div class="col-33">
        <button class="button icon-left ion-chevron-left button-clear button-positive  button-block" ng-click="checked=false" ng-show="checked">Back</button>
        <button class="button icon-right ion-chevron-right button-clear button-positive  button-block" ng-click="checked=true" ng-hide="checked">Next</button>
    </div>
    <div class="col-33">

    </div>

</div>
</ion-content>
</ion-pane>