<ion-pane>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a button class="button" href="#/templates/quotes/quotes">Back</button></a>
        </div>
        <h1 class="title">Quote</h1>
        <div class="buttons">
            <a button class="button" ng-click="saveQuotes()">Save</button></a> &nbsp &nbsp &nbsp
        </div>
    </ion-header-bar>
    <ion-content>

    </ion-content>
    <ion-tabs class=" tabs-positive tabs-icon-top">
        <ion-tab title="Info" icon-on="icon-font-color ion-ios-home-outline" icon-off="ion-ios-home-outline">
            <!-- Tab 1 content -->

            <br>
            <div class="row">
                <div class="col col-10">
                </div>

                <div class="col col-10">
                </div>
            </div>

            <div class="list " style="background-color: #f5f5f5;">

                <label class="item item-input item-select">
    <div class="input-label" ng-model"datacontacts.customer" required>
      <b style="color: red;">Customer</b>
    </div>
    <select>
         <option value="" selected></option>
    </select>
  </label>
                <a class="item item-input " style="color: red;">
                    <b>Name</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.topic" required>
                </a>
                <br>
                <label class="item item-input item-select">
    <div class="input-label" ng-model"datacontacts.customer" required>
      <b>Currency</b>
    </div>
    <select>
         <option value="" selected></option>
    </select>
  </label>
                <label class="item item-input item-select">
    <div class="input-label" ng-model"datacontacts.customer" required>
      <b style="color: red;">Price List</b>
    </div>
    <select>
         <option value="" selected></option>
    </select>
  </label>
                <br>
                <a class="item item-input">
                    <b>Total Amount</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.firstName">
                </a>
                <a class="item item-input">
                    <b>Discount</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.email">
                </a>
                <a class="item item-input">
                    <b>Discount %</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.mobilephone">
                </a>
                <br>
                <a class="item item-input">
                    <b>Freight</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.businessphone">
                </a>
                <label class="item item-input item-select">
    <div class="input-label" ng-model"datacontacts.customer" required>
      <b>Freight Terms</b>
    </div>
    <select>
         <option value="" selected></option>
    </select>
  </label>


        </ion-tab>
        <ion-tab title="Ship" icon-on="icon-font-color ion-ios-location-outline" icon-off="ion-ios-location-outline">Address
            <!-- Tab 2 content -->
            <br>
            <div class="row">
                <div class="col col-10">
                </div>

                <div class="col col-10">
                </div>
            </div>

            <div class="list" style="background-color: #f5f5f5;">


                <a class="item item-input ">
                    <b>Street 1</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.street1">
                </a>




                <a class="item item-input">
                    <b>Street 2</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.street2">
                </a>

                <a class="item item-input">
                    <b>Street 3</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.street3">
                </a>
                <br>


                <a class="item item-input">
                    <b>City</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.city">
                </a>


                <a class="item item-input">
                    <b>Postal Code</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.postcode">
                </a>
                <br>
                <a class="item item-input">
                    <b>State</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.State">
                </a>
                <a class="item item-input">
                    <b>Country</b>&nbsp&nbsp&nbsp<input type="text" ng-model="dataQuotes.country">
                </a>
            </div>
        </ion-tab>
    </ion-tabs>
</ion-pane>