<ion-pane>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a button class="button" href="#/templates/home">Back</button></a>
        </div>
        <h1 class="title">Cases</h1>

        <div class="buttons button-clear">
            <h1><a button class="button button-clear" ng-click=""><i></i>save</button></a></h1>
        </div>

    </ion-header-bar>
    <ion-content style="background-color: #f5f5f5;">

        <div class="list">
            <a class="item item-input" style="color: red;">
                <b>Title</b>&nbsp&nbsp&nbsp<input type="text" ng-model="">
            </a>
            <label class="item item-input item-select">
    <div class="input-label"style="color: red;" ng-model="">
      <b >Customer</b>
    </div>
    <select>
      <option value=""></option>
    </select>
  </label>
  <br>
  
    <label class="item item-input item-select">
    <div class="input-label" ng-model="">
      <b>Priority</b>
    </div>
    <select>
      <option value=""></option>
    </select>
  </label>
<br>
   <label class="item item-input item-select">
    <div class="input-label" ng-model="">
      <b>Case Type</b>
    </div>
    <select>
      <option value="asd">asdas</option>
    </select>
  </label>
     <label class="item item-input item-select">
    <div class="input-label" ng-model="">
      <b>Satisfaction</b>
    </div>
    <select>
      <option value="asd">asdas</option>
    </select>
  </label>
  <br>
    <label class="item item-input item-select">
    <div class="input-label" ng-model="">
      <b>Status Reason</b>
    </div>
    <select>
      <option value="asd">asdas</option>
    </select>
  </label>


        </div>

    </ion-content>
</ion-pane>